:root {
  /* Dark Mode colors */
  --base-color: #2c394b;
  --darker-base: #242f3f;
  --lighter-base: rgb(56, 68, 90);
  --secondary-color: #fca311;
  --darker-secondary: #c0821e;
  --text-color: #b2bccd;
  --delete-color: #ff5a5f;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 90px 0px;
  background-color: var(--base-color);
}

body.light-mode {
  --base-color: #f3f3f3;
  --darker-base: #e6e9ee;
  --lighter-base: rgb(255, 181, 95);
  --secondary-color: rgb(56, 68, 90);
  --darker-secondary: #2c394b;
  --text-color: #6c6c6c;
  --delete-color: #ff5a5f;

  color: rgb(56, 68, 90);
  color-scheme: dark light;
  background-color: var(--base-color);
}
